
<div class="container-fluid footer">
    <div class="row">
        <div class="col-12 col-md-4 order-2 order-md-1 contacts">
            <p class="text-center text-white">OUR CONTACTS</p>
            <div class="whiterule"></div>
            <div class="contact_mail">
                {% set entries = craft.entries.section('about_us') %}
                {% for entry in entries %}

                <div class="tripadvisor my-4">
                    <div href="{{ entry.tripadvisorLink }}" target="_blank">
                        <div class="social-icons">
                            <a href="{{ entry.facebook }}"><img src="{{ alias('@baseUrl') }}/images/facebook.png" alt=""></a>
                            <a href="{{ entry.twitter }}"><img src="{{ alias('@baseUrl') }}/images/twitter-png-twitter-icon-1600.png" alt=""></a>
                            <a href="{{ entry.youtube }}"><img src="{{ alias('@baseUrl') }}/images/youtube.png" alt=""></a>
                            <a href="{{ entry.instagram }}"><img src="{{ alias('@baseUrl') }}/images/1024px-Instagram_simple_icon.png" alt=""></a>
                            <a href="{{ entry.tripadvisorLink }}"><img src="{{ alias('@baseUrl') }}/images/tripadvisor-logo-png-e1469626631904.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="social my-2">
                    <div href="">
                        <img src="{{ alias('@baseUrl') }}/images/web-viber-icon%20(1).png" alt="">
                        <span>{{ entry.viber }}</span>
                    </div>
                </div>
                <div class="social my-2">
                    <div href="">
                        <img src="{{ alias('@baseUrl') }}/images/WhatsApp-icon.png" alt="">
                        <span>{{ entry.whatsapp }}</span>
                    </div>
                </div>
                <div class="social my-2">
                    <div href="">
                        <img src="{{ alias('@baseUrl') }}/images/Gmail-icon.png" alt="">
                        <span>{{ entry.emailAddress }}</span>
                    </div>
                </div>

                {% endfor %}
            </div>

        </div>

        <div class="col-12 col-md-4 order-1 partners">
            <p class="text-center text-white">OUR PARTNERS</p>
            <div class="whiterule"></div>

            <div class="container-fluid partners1">
                <div class="row">
                    {% set partners = craft.entries.section('home').type(['partners']).all() %}
                    {% for partner in partners %}
                        <div class="col-6 col-xl-3">
                            <a href="{{ partner.partnerLink }}" target="_blank">
                                <div class="partner" style="background-image: url({{ partner.partnerLogo.one.url }})"></div>
                                <p style="color: white; text-align: center">{{ partner.title }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 order-3 unesco">
            <div class="un">
                <img class="unesco_picture" src="{{ alias('@baseUrl') }}/images/unesco1.png" alt="">
                <div class="heritage">
                    <h1 class="text-center text-white">UNESCO</h1>
                    <p class="text-center text-white">World heritage</p>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="bottomfooter">
    <p>© Copyright is a legal right, existing in many countries, since 2003-2019</p>
    <div>
        <div class="footer_logo">
            <img class="sunnybottom" src="{{ alias('@baseUrl') }}/images/sunny.png" alt="">
        </div>
    </div>
</div>

