{% set lang = craft.app.language %}
<nav class="navbar navbar-expand-lg static-top" id="nav">
    <div class="container-fluid nav-container">
        <div class="logo">
            <a href="{{ alias(currentSite.baseUrl) }}/" class="navbar-brand">
                <img src="{{ alias('@baseUrl') }}/images/image-3.png">
            </a>
        </div>
        <div class="nav-right">
            <div class="soc-lang">
                {% set entries = craft.entries.section('about_us') %}
                {% for entry in entries %}
                <div class="social-icons d-sm-block d-none">
                    <a href="{{ entry.facebook }}"><img src="{{ alias('@baseUrl') }}/images/facebook.png" alt=""></a>
                    <a href="{{ entry.twitter }}"><img src="{{ alias('@baseUrl') }}/images/twitter-png-twitter-icon-1600.png" alt=""></a>
                    <a href="{{ entry.youtube }}"><img src="{{ alias('@baseUrl') }}/images/youtube.png" alt=""></a>
                    <a href="{{ entry.instagram }}"><img src="{{ alias('@baseUrl') }}/images/1024px-Instagram_simple_icon.png" alt=""></a>
                    <a href="{{ entry.tripadvisorLink }}"><img src="{{ alias('@baseUrl') }}/images/tripadvisor-logo-png-e1469626631904.png" alt=""></a>
                </div>
                {% endfor %}
                <div class="languages">
                    {% set element = (category ?? entry ?? null) %}
                    <a href="{{ siteSwitcher('default', element) }}">ENG</a>
                    <a href="{{ siteSwitcher('russian', element) }}">RUS</a>
                    <a href="{{ siteSwitcher('polland', element) }}">POL</a>
                </div>
                <div class="selectshow">
                <select id="dropdown" onchange="location = this.value;">
                    <option {{ lang == 'en-US' ? 'selected' : '' }} value="{{ siteSwitcher('default', element) }}">ENG</option>
                    <option {{ lang == 'ru' ? 'selected' : '' }} value="{{ siteSwitcher('russian', element) }}">RUS</option>
                    <option {{ lang == 'pl' ? 'selected' : '' }} value="{{ siteSwitcher('polland', element) }}">POL</option>
                </select>
                    <div class="burger-menu">
                        <button class="navbar-toggler round" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            ☰
                        </button>
                    </div>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav links">
                    <li>
                        <a href="{{ alias(currentSite.baseUrl) }}/">{{ 'HOME'|t }}
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ alias(currentSite.baseUrl) }}/about">ABOUT US</a>
                    </li>
                    <li>
                        <a href="{{ alias(currentSite.baseUrl) }}/tours">TOURS</a>
                    </li>
                    <li>
                        <a href="{{ alias(currentSite.baseUrl) }}/history">HISTORY DESTINATION</a>
                    </li>
                    <li>
                        <a href="{{ alias(currentSite.baseUrl) }}/faq">FAQ</a>
                    </li>
                    <li>
                        <a href="{{ alias(currentSite.baseUrl) }}/contact">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<script>
    window.onscroll = function() {
        var nav = document.getElementById('nav');
        if ( window.pageYOffset > 20 ) {
            nav.classList.add("navbar1");
        } else {
            nav.classList.remove("navbar1");
        }
    }
</script>
