{% set min = craft.request.getParam('min') %}
{% set max = craft.request.getParam('max') %}
<div>
    <p class="findtour">FIND A TOUR WITH MY BUDGET</p>
    <form class="tourcounter" id="filterForm" action="{{ siteUrl }}filter">
        <div class="counter">
            <div class="input-group mb-0">
                <input type="number" class="form-control inp" value="{{ min }}" name="min" placeholder="50 000">
                <p class="textorange">min</p>
            </div>
        </div>
        <div class="counter">
            <div class="input-group mb-0">
                <input type="number" class="form-control inp" value="{{ max }}" name="max" placeholder="3 000 000">
                <p class="textorange">max</p>

            </div>
        </div>
        <div class="counter">
            <div class="input-group search-icon mb-0">
                <label for="search-icon"><i class="fas fa-search"></i></label>
                <input id="search-icon" style="display: none" type="submit">
            </div>
        </div>
    </form>

    <p id="valid"> Please, enter a price!</p>
</div>
<script>
    $('#filterForm').submit(function (e) {
        e.preventDefault();
        if ($(this).find('input[name="min"]').val() === '' && $(this).find('input[name="max"]').val() === '') {
            document.getElementById("valid").style.display = 'block'
        } else {
            e.target.submit();
        }
    })
</script>

<style>
    #valid {
        display: none;
        color: red;
        text-align: center;
        font-size: 20px;
    }

</style>