{% extends "_layouts/base" %}

{% block body %}

{% include "_includes/header" %}

<div class="page">
    {% block main %}{% endblock %}
</div>

    <style>
        .page {
            padding-top: 114px;
        }

        @media (max-width: 991px) {
            .page {
                padding-top: 100px;
            }
        }
    </style>

{% include "_includes/footer" %}

{% endblock %}
