{% extends "_layouts/site" %}

{% block main %}
{% set entry = craft.entries.section('about_us').one() %}
<div class="aboutus">
    <div class="welcome_to">
        <p>WELCOME TO OUR COMPANY</p>
    </div>
    <div class="about_armenia">
        <div class="about_sun">
            <p>ABOUT SUNNY ARMENIA</p>
            <img src="./images/sun-32228_960_7201.gif" alt="">
        </div>
    </div>
    <div class="story_about_armenia">
        <p>{{ entry.description }}</p>
    </div>
</div>


    <div class="personal d-flex">
        {%   for block in entry.employee.all() %}
        <a class="staff unset {% if loop.first %}expand{% endif %}" style="background-image: url('{{ block.employeeImage[0].url() }}')">
            <div class="mobile-staff" style="background-image: url('{{ block.employeeImage[0].url() }}')"></div>
            <div class="card-body">
                <div class="card-text">
                    <p class="employee-name">{{ block.fullName }}</p>
                    <p class="employee-position">{{ block.position }}</p>
                    {{ block.bio }}
                </div>
            </div>
        </a>
        {% endfor %}
    </div>


<div class="container about-slider">
<div class="product-slider">
    {% set sliderImages = craft.entries.section('about_us') %}
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for image in sliderImages %}
            {% for entry in image.galleryImages %}
                <div class="carousel-item {{ loop.index == 1 ? 'active' : ''}}" data-thumb="{{ loop.index }}"> <img src="{{ entry.url }}"  class="sliderImg"> </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div class="clearfix">
        <div id="thumbcarousel" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    {% for image in sliderImages %}
                    {% for entry in image.galleryImages|slice(0, 5) %}
                    <div data-target="#carousel" data-slide-to="{{ loop.index - 1 }}" class="thumb showing"><img src="{{ entry.url }}"></div>
                    {% endfor %}
                    {% endfor %}
                </div>
                <div class="carousel-item">
                    {% for image in sliderImages %}
                    {% for entry in image.galleryImages %}
                    {% if loop.index > 5 %}
                        <div data-target="#carousel" data-slide-to="{{ loop.index - 1 }}" class="thumb showing"><img src="{{ entry.url }}"></div>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <!-- /carousel-inner -->
            <a class="carousel-control-prev " href="#thumbcarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#thumbcarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        <!-- /thumbcarousel -->

    </div>
</div>

</div>
</div>
<link rel="stylesheet" href="{{ alias('@baseUrl') }}/assets/css/about.css">
<script src="{{ alias('@baseUrl') }}/assets/js/about.js"></script>


{% endblock %}
