{% extends "_layouts/site" %}

{% set regions = craft.entries.section('sights').type(['sights']).limit(1)[0].region.options %}
{% block main %}
    <div>
        {% set entries = craft.entries.section('history') %}
        {% for entry in entries %}
            {% for asset in entry.backgroundImage %}
                <div class="history_wrapper" style="background-image: url('{{ asset.url }}')">
                    <div class="history_image">
                        {% set entries = craft.entries.section('history') %}
                        {% for entry in entries %}
                            {% for asset in entry.backgroundImage %}
                                <p>{{ entry }}</p>
                                <img src="{{ alias('@baseUrl') }}/images/open-book.png" alt="">
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                <p style="padding: 0 20px"> {{ entry.description }} </p>
            {% endfor %}
        {% endfor %}

        {% set sights = craft.entries.section('sights').type(['sights']).limit(1)[0] %}
        <div id="select-region">
            <select class="custom-select custom-select-sm" id="selected-region">
                {% for region in sights.region.options %}
                    <option value="{{ region.value }}" {{ craft.request.getParam('region') == region.value ? 'selected' : '' }}>{{ region.label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="national-pic"></div>
        <div class="historical_places">
            <div class="container-fluid">
                {% if (craft.request.getParam('region') is not null) and (craft.request.getParam('region') is not same as ("allRegions")  ) %}
                    {% set sights = craft.entries.section('sights').search('region:' ~ craft.request.getParam('region')) %}
                {% else %}
                    {% set sights = craft.entries.section('sights').all() %}
                {% endif %}
                <div class="row tour_left">
                    {% for sight in sights %}
                        <div data-region="{{ sight.region.value }}" class="col-lg-3 col-md-6 col-sm-6 col-6 sights-group">
                                <div class="xxx">
                                    {% for asset in sight.backgroundImage %}
                                        <a href="{{ alias(currentSite.baseUrl) }}/history/{{ sight.id }}" data-id="{{ sight.id }}" >
                                            <div class="tourname tourname1" style="background-image: url('{{ asset.url }}')"></div>
                                        </a>
                                    {% endfor %}
                                </div>
                                <p class="title title-text-center">{{ sight.title }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="{{ alias('@baseUrl') }}/assets/css/about-armenia.css">
    <script>
        let iframes = {};
        let backgroundImages = {};
        {% for sight in sights %}
            iframes["{{ sight.id }}"] = "{{ sight.degreeImageUrl }}";
            backgroundImages["{{ sight.id }}"] = "{{ sight.backgroundImage.one().url }}";
        {% endfor %}
        $('.open-modal').on('click', function () {
            $($(this).data('target')).find('.iframe').attr('src');
            if (!$($(this).data('target')).find('.iframe').attr('src')) {
                $($(this).data('target')).find('.iframe').attr('src', iframes[$(this).data('id')])
            }
            if (!iframes[$(this).data('id')]) {
                $($(this).data('target')).find('.frame-content').css('background-image', 'url(' + backgroundImages[$(this).data('id')] + ')');
                $($(this).data('target')).find('.frame-content').css('background-repeat', 'no-repeat');
                $($(this).data('target')).find('.frame-content').css('background-size', 'cover');
                $($(this).data('target')).find('.frame-content').css('height', 560);
                $($(this).data('target')).find('.iframe').remove()
            }
        });

        $('#selected-region').change(function () {
            location.replace(`${location.origin}/history?region=${this.value}`);
        });

    </script>
{% endblock %}
