{% extends "_layouts/site" %}

{% block main %}

<div class=" tours1">
    {% set categoryHandle = craft.app.request.getSegment(2) %}
    {% set category = craft.categories()
    .slug(categoryHandle|literal)
    .one() %}
    <div class=" left">
        <a class="tourname-big">
            {% set image = craft.assets.relatedTo( category ).first() %}
            <div style="background-image: url({{ image.url }})"></div>
        </a>
    </div>
    <div class=" right">
        <div>
            <h3>{{ category.title }}</h3>
            <div>
                <div>
                    {{ category.description }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tour-list">
    <div class="line">
        <div></div>
        <img src="{{ alias('@baseUrl') }}/images/sunny-icon.png" alt="">
        <div></div>
    </div>
    <div class="container-fluid tournames">
            <div class="row">
                {% set entries = craft.entries.section('tours').relatedTo(category) %}
                {% for entry in entries %}
                    <div style="margin: 20px auto" class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="tourname">
                            {% for asset in entry.backgroundImage %}
                            <a href="{{ alias(currentSite.baseUrl) }}/tour/{{entry.id}}" style="background-image: url('{{ asset.url }}')">
                                <span class="title">{{ entry }}</span>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
</div>
</div>

    <link rel="stylesheet" href="{{ alias('@baseUrl') }}/assets/css/category.css">

{% endblock %}