{% extends "_layouts/site" %}


{% block main %}



<div class="questions">
    {% set entries = craft.entries.section('FAQ') %}

    {% for entry in entries %}

        <div class="question">
            <div class="img-text">
                <div class="img">
                    <img src="{{ alias('@baseUrl') }}/images/man-answer.png" alt="">
                </div>
                <div class="text">
                    <p>{{ entry }}</p>
                </div>
            </div>
            <a data-trigger="focus" role="button" tabindex="0" data-toggle="popover" data-placement="top" data-content="{{ entry.answer }}" class="button">ANSWER</a>
        </div>

    {% endfor %}

</div>

<link rel="stylesheet" href="{{ alias('@baseUrl') }}/assets/css/faq.css">
<script src="{{ alias('@baseUrl') }}/assets/js/faq.js"></script>

{% endblock %}
