{% extends "_layouts/site" %}

{% set min = craft.request.getParam('min') %}
{% set max = craft.request.getParam('max') %}

{% block css %}
    <link rel="stylesheet" href="{{ alias('@baseUrl') }}/assets/css/filter.css">
    <link rel="stylesheet" href="{{ alias('@baseUrl') }}/assets/css/category.css">
{% endblock %}

{% block main %}

    {% include '_includes/priceFilter.twig' %}

    <div class="container-fluid tournames">
        {% set entries = craft.entries.section('tours') %}

        {% if min %}
            {% set entries = entries.andFilterWhere(['>=', 'field_price1', min]) %}
        {% endif %}

        {% if max %}
            {% set entries = entries.andFilterWhere(['<=', 'field_price1', max]) %}
        {% endif %}
        <div class="row">
            {% for entry in entries %}
                <div style="margin: 20px auto" class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="tourname">
                        {% for asset in entry.backgroundImage %}
                            <a href="{{ alias(currentSite.baseUrl) }}/tour/{{entry.id}}" style="background-image: url('{{ asset.getUrl('circleSize') }}')">
                                <span class="title">{{ entry }}</span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}