{% extends "_layouts/site" %}

{% block main %}

    {% set sight = craft.entries.id(craft.request.getSegment(2)).first() %}

    <div>
        <div class="frame-content {{ not sight.degreeImageUrl ? 'background-cover' : '' }}">
            <h2>{{ sight.title }}</h2>
            {% if sight.degreeImageUrl %}
                <iframe src="{{ sight.degreeImageUrl }}" class="iframe"></iframe>
            {% endif %}
        </div>
        <div class="modal-body text-center" id="modalText">
            {{ sight.description }}
        </div>
    </div>

    <link rel="stylesheet" href="{{ alias('@baseUrl') }}/assets/css/history.css">
    <style>
        .background-cover {
            background-image: url("{{ sight.backgroundImage.one.url }}");
            background-repeat: no-repeat;
            background-size: cover;
            height: 560px;
            background-position: center center;

        }
    </style>

{% endblock %}