{% extends "_layouts/site" %}


{% block main %}

    {% block content %}
        <div class="carusel">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                {% set slideCount = 0 %}
                {% for entry in craft.entries.section('home') %}
                    {% for block in entry.sliderVideo %}
                        {% if block.type == 'slider' %}
                            {% set slideCount = block.sliderImages.count() %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                {% for entry in craft.entries.section('home') %}
                    {% for block in entry.sliderVideo %}
                        <div class="carousel-inner">
                            {% if block.type == 'slider' %}
                                {% set images = block.sliderImages.all() %}
                                {% if images %}
                                    {% for image in images %}
                                        <div class="carousel-item {{ loop.index == 1 ? 'active' : '' }}">
                                            <img src="{{ image.url }}" alt="{{ image.title }}" style="width:100%;">
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}
                <ol class="carousel-indicators">
                    {% for i in range(0, slideCount - 1) %}
                        <li data-target="#myCarousel" data-slide-to="{{ i }}" class="{{ i == 0 ? "active" : '' }}"></li>
                    {% endfor %}
                </ol>

            </div>
        </div>

    {% endblock %}

    <div class="araratcontent">
        <div class="ararat">
        </div>
        <div class="welcome">
            <div class="orange">WELCOME TO</div>
            <div class="white">SUNNY ARMENIA</div>
        </div>
        <div class="abouttravel">
            {% set text = craft.entries.section('home').one %}
                {% if text.topCaptionText %}
                <span class="abouttravel-text">{{ text.topCaptionText }}</span>
                {% endif %}
        </div>
    </div>

    <div class="national-pic">

    </div>

    {% include '_includes/priceFilter.twig' %}

    <div class="camp_picture">
        <div class="rule"></div>
        <div class="imagecontainer">
            <img src="./images/camp.png" alt="">
        </div>
        <div class="rule"></div>
    </div>
    <div class="container-fluid hottours">
        {% set categories = craft.categories() %}
        <div class="row">
            {% for category in categories %}
                {% set image = craft.assets.relatedTo( category ).first() %}
                <div class="col-md-4">
                    <div class="borders">
                        <div class="tours" style="background-image: url('{{ image.url }}')">
                        </div>
                        <div class="hinking">
                            <a href="{{ category.url }}">{{ category.title }}</a>
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </div>
                    <div>
                        <div class="icons hiking"></div>
                        <div class="icons climbing"></div>
                        <div class="icons museums"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="mount">

    </div>


    {% set entries = craft.entries.section('home').type('home') %}
    {% for entry in entries %}
        {% for asset in entry.backgroundImage %}
            <div class="container-fluid besttours" style="background-image: url('{{ asset.url }}')">
        {% endfor %}
    {% endfor %}
    <div class="slider_heading">
        <h4>THE BEST TOUR OF 2019</h4>
    </div>
    <div>
        {% set texts = craft.entries.section('home').type(['bottomSlider']) %}
        <div class="tourslider">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for text in texts %}
                        <div class="carousel-item small_slider {{ loop.index == 1 ? 'active' : '' }}">
                            <div class="title-text">
                                <h2>{{ text.bottomCaptionTitle }}</h2>
                                <p>{{ text.bottomCaptionText }}</p>

                            </div>
                            <div class="slide-img">
                                {% for asset in text.slide %}
                                    <a href="{{ text.linkToTour.first().url }}"><img src="{{ asset.url }}"
                                                                                     alt="..."></a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev slide-arrow-left" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon slide-arrow-left-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next slide-arrow-right" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon slide-arrow-right-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

    </div>
    </div>
    <div class="national-pic2">

    </div>
    <div class="services">
        <hr class="rule">
        <h5>SERVICES</h5>
        <hr class="rule">
    </div>
    <div class="serviceicons">
        <img src="{{ alias('@baseUrl') }}/images/feet-left.png" alt="">
        <img src="{{ alias('@baseUrl') }}/images/feet-left.png" alt="">
        <img src="{{ alias('@baseUrl') }}/images/feet-left.png" alt="">
        <img src="{{ alias('@baseUrl') }}/images/feet-left.png" alt="">
        <img src="{{ alias('@baseUrl') }}/images/feet-right.png" alt="">
        <img src="{{ alias('@baseUrl') }}/images/feet-right.png" alt="">
        <div class="upicons">
            <a>
                <div class="icons_big climber"></div>
            </a>
            <a>
                <div class="icons_big masis"></div>
            </a>
            <a>
                <div class="icons_big master">
                    <div>
                        <h1>M</h1>
                        <p>master classes</p>
                    </div>

                </div>
            </a>
            <a>
                <div class="icons_big hostels"></div>
            </a>

        </div>
        <div class="foots">
            <img src="{{ alias('@baseUrl') }}/images/footup.png" alt="">
            <img src="{{ alias('@baseUrl') }}/images/footdown.png" alt="">
            <img src="{{ alias('@baseUrl') }}/images/footup.png" alt="">
            <img src="{{ alias('@baseUrl') }}/images/footdown.png" alt="">
            <img src="{{ alias('@baseUrl') }}/images/footup.png" alt="">
            <img src="{{ alias('@baseUrl') }}/images/footdown.png" alt="">
            <img src="{{ alias('@baseUrl') }}/images/footup.png" alt="">
            <img src="{{ alias('@baseUrl') }}/images/footdown.png" alt="">
        </div>
        <div class="downicons">
            <a>
                <div class="icons_big garni"></div>
            </a>
            <a>
                <div class="icons_big camp"></div>
            </a>
            <a>
                <div class="icons_big cooks"></div>
            </a>
        </div>
    </div>

    <div class="noravanq">
        <div class="container-fluid storycontent">
            <div class="row story-block">
                {% set reviews = craft.entries.section('reviews') %}
                {% for review in reviews %}
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 stories">
                    <div class="review">
                        <div>
                            {% for image in review.avatar %}
                                <img class="user-ava" src="{{ image.url }}" alt="">
                            {% endfor %}
                            {{ review.message }}
                        </div>
                        <hr>
                        <p class="author">-{{ review }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>

{% endblock %}
