{% extends "_layouts/site" %}
    {% block main %}
        {% set entries = craft.entries.section('tourCategories') %}
        {% for entry in entries %}
        {% for bgimage in entry.backgroundImage %}
        <div class="description" style="background-image: url('{{ bgimage.url }}')">
            {% endfor %}
            <div class="all-content">
                <div class="content-header">
                    <p class="heading">{{ entry.title }}</p>
                    <img src="{{ alias('@baseUrl') }}/images/Travel-box.png" alt="" class="post-box">
                </div>
                <div class="content-body">
                    {{ entry.description }}
                    <br>
                    {{ entry.shortDescription }}
                </div>
                <div class="line"></div>
            </div>

                <div class="notebook" ></div>
            </div>
        {% endfor %}
        <div class="tourists">
            {% set categories = craft.categories() %}
            <div class="tourlist row">
                {% for category in categories %}
                    {% set image = craft.assets.relatedTo( category ).first() %}
                    <div class="tour-rounds col-lg-4 col-md-12">
                        <div class="per-line">
                            <div class="big-round">
                                <a href="{{ category.url }}" class="small-round"
                                   style="background-image: url('{{ image.url }}')"></a>
                            </div>
                            <a href="{{ category.url }}" class="article">{{ category.title }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div>
                {% set entries = craft.entries.section('about_us') %}
                    {% for entry in entries %}
                        {% for priceList in entry.priceList %}
                        <a href="{{ priceList.url }}" class="price" target="_blank">
                            <p class="price-list">PRICE LIST</p>
                        </a>
                        {% endfor %}
                    {% endfor %}
            </div>
        </div>
        <link rel="stylesheet" href="{{ alias('@baseUrl') }}/assets/css/tours.css">
    {% endblock %}