{% extends "_layouts/site" %}
{% block css %}
    <link rel="stylesheet" href="{{ alias('@baseUrl') }}/assets/lightslider-master/css/lightslider.css">
    <script src="{{ alias('@baseUrl') }}/assets/lightslider-master/js/lightslider.js"></script>
{% endblock %}
{% block main %}
    {% set entry = craft.entries.id(craft.request.getSegment(2)).first() %}

    <div class="container mb-4">
        <div class="item">
            <div class="clearfix w-100">
                <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                    {% for asset in entry.slider %}
                        <li data-thumb="{{ asset.url }}">
                            <img src="{{ asset.url }}" class="w-100"/>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="content trip">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                    <div class="kompas">
                        <div><i class="fas fa-map-marker-alt"></i> {{ entry.location }}</div>
                        <div><i class="fas fa-route"></i> {{ entry.distance }} km</div>
                        <div><i class="far fa-clock"></i> {{ entry.duration }}</div>
                        <div><i class="far fa-sun"></i> {{ entry.availability }}</div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                    <a class="tripadvisor-big">
                        <img src="{{ alias('@baseUrl') }}/images/tripadvisor-banner.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="uzor"></div>
        {{ entry.description }}
        <div class="row days">
            {% for block in entry.dayProgram.all() %}
                {% if block.type == "day" %}
                    <a data-trigger="focus" tabindex="0" data-toggle="popover" data-placement="bottom"
                       data-content='{{ block.dayDescription }}' class="col-lg-auto col-md-4 col-6">
                        <div class="day">
                            <span class="title">{{ block.dayTitle }} </span>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="collapse contents" id="example">
            <div class="day-description"></div>
        </div>
        <div class="content list">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 left">
                    <p>The price includes the following services.</p>
                    <div>
                        <ul class="accept">
                            {% for block in entry.services.all() %}
                                {% if block.type == "availableServices" %}
                                    {% if block.tourProgram %}
                                        <li class="d-flex justify-start align-middle"><i
                                                    class="fas fa-check mr-2"></i>Tour program
                                        </li>
                                    {% endif %}
                                    {% if block.comfortableVehicle %}
                                        <li class="d-flex justify-start align-middle"><i
                                                    class="fas fa-check mr-2"></i>Comfortable Vehicle
                                        </li>
                                    {% endif %}
                                    {% if block.guideDriver %}
                                        <li class="d-flex justify-start align-middle"><i
                                                    class="fas fa-check mr-2"></i>Guide Driver
                                        </li>
                                    {% endif %}
                                    {% if block.guideForHiking %}
                                        <li class="d-flex justify-start align-middle"><i
                                                    class="fas fa-check mr-2"></i>Guide for hiking
                                        </li>
                                    {% endif %}
                                    {% if block.guideForCulturalDestinations %}
                                        <li class="d-flex justify-start align-middle"><i
                                                    class="fas fa-check mr-2"></i>guide for cultural and historical
                                            destinations
                                        </li>
                                    {% endif %}
                                    {% if block.hikingTrekking %}
                                        <li class="d-flex justify-start align-middle"><i
                                                    class="fas fa-check mr-2"></i>Hiking & Trekking
                                        </li>
                                    {% endif %}
                                    {% if block.driver %}
                                        <li class="d-flex justify-start align-middle"><i
                                                    class="fas fa-check mr-2"></i>Driver
                                        </li>
                                    {% endif %}
                                    {% if block.driverAndHisExpenses %}
                                        <li class="d-flex justify-start align-middle"><i
                                                    class="fas fa-check mr-2"></i>Driver and all his expenses
                                            (accommodation, meals)
                                        </li>
                                    {% endif %}
                                    {% if block.Breakfast %}
                                        <li class="d-flex justify-start align-middle"><i
                                                    class="fas fa-check mr-2"></i>breakfast
                                        </li>
                                    {% endif %}
                                    {% if block.halfBoardLunch %}
                                        <li class="d-flex justify-start align-middle"><i
                                                    class="fas fa-check mr-2"></i>Half board lunch
                                        </li>
                                    {% endif %}
                                    {% if block.halfBoardDinner %}
                                        <li class="d-flex justify-start align-middle"><i
                                                    class="fas fa-check mr-2"></i>Half board dinner
                                        </li>
                                    {% endif %}
                                    {% if block.fullBoard %}
                                        <li class="d-flex justify-start align-middle"><i
                                                    class="fas fa-check mr-2"></i>Full board
                                        </li>
                                    {% endif %}
                                    {% if block.fuel %}
                                        <li class="d-flex justify-start align-middle"><i
                                                    class="fas fa-check mr-2"></i>Fuel
                                        </li>
                                    {% endif %}
                                    {% if block.tickets %}
                                        <li class="d-flex justify-start align-middle"><i
                                                    class="fas fa-check mr-2"></i>Tickets
                                        </li>
                                    {% endif %}
                                    {% if block.wineDegustationAreni %}
                                        <li class="d-flex justify-start align-middle"><i
                                                    class="fas fa-check mr-2"></i>Wine degustation Areni
                                        </li>
                                    {% endif %}
                                    {% if block.wineDegustation %}
                                        <li class="d-flex justify-start align-middle"><i
                                                    class="fas fa-check mr-2"></i>Wine degustation
                                        </li>
                                    {% endif %}
                                    {% if block.transferToFromTheAirport %}
                                        <li class="d-flex justify-start align-middle"><i
                                                    class="fas fa-check mr-2"></i>Transfer to/from the airport
                                        </li>
                                    {% endif %}
                                    {% if block.transferToTbilisi %}
                                        <li class="d-flex justify-start align-middle"><i
                                                    class="fas fa-check mr-2"></i>Transfer to Tbilisi
                                        </li>
                                    {% endif %}
                                    {% if block.bottleOfWater %}
                                        <li class="d-flex justify-start align-middle"><i
                                                    class="fas fa-check mr-2"></i>bottle of water
                                        </li>
                                    {% endif %}
                                    {% if block.climbingTheMountainAragats %}
                                        <li class="d-flex justify-start align-middle"><i
                                                    class="fas fa-check mr-2"></i>Climbing the mountain Aragats
                                        </li>
                                    {% endif %}
                                    {% if block.accommodation %}
                                        <li class="d-flex justify-start align-middle"><i
                                                    class="fas fa-check mr-2"></i>Accommodation
                                        </li>
                                    {% endif %}
                                    {% if block.ticketsToTheTsakhkadzorRopeway %}
                                        <li class="d-flex justify-start align-middle"><i
                                                    class="fas fa-check mr-2"></i>Tickets to the Tsakhkadzor ropeway
                                        </li>
                                    {% endif %}
                                    {% if block.ticketToYellExtremePark %}
                                        <li class="d-flex justify-start align-middle"><i
                                                    class="fas fa-check mr-2"></i>Ticket to Yell Extreme Park
                                        </li>
                                    {% endif %}
                                    {% if block.ticketToYerevanZipLine %}
                                        <li class="d-flex justify-start align-middle"><i
                                                    class="fas fa-check mr-2"></i>Ticket to Yerevan Zip Line
                                        </li>
                                    {% endif %}
                                    {% if block.ticketToTheWingsOfTatev %}
                                        <li class="d-flex justify-start align-middle"><i
                                                    class="fas fa-check mr-2"></i>Ticket to the Wings of Tatev
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 right">
                    <p>The price does not include the following services</p>
                    <div>
                        <ul class="decline">
                            {% for block in entry.services.all() %}
                                {% if block.type == "unavailableServices" %}
                                    {% if block.guide %}
                                        <li class="d-flex justify-start align-middle"><i class="fas fa-times mr-2"
                                                                                         style="color:red"></i>Guide
                                        </li>
                                    {% endif %}
                                    {% if block.meals %}
                                        <li class="d-flex justify-start align-middle"><i class="fas fa-times mr-2"
                                                                                         style="color:red"></i>Meals
                                        </li>
                                    {% endif %}
                                    {% if block.accommodation %}
                                        <li class="d-flex justify-start align-middle"><i class="fas fa-times mr-2"
                                                                                         style="color:red"></i>Accommodation
                                        </li>
                                    {% endif %}
                                    {% if block.entranceTickets %}
                                        <li class="d-flex justify-start align-middle"><i class="fas fa-times mr-2"
                                                                                         style="color:red"></i>Entrance
                                            tickets
                                        </li>
                                    {% endif %}
                                    {% if block.insurance %}
                                        <li class="d-flex justify-start align-middle"><i class="fas fa-times mr-2"
                                                                                         style="color:red"></i>Insurance
                                        </li>
                                    {% endif %}
                                    {% if block.airTickets %}
                                        <li class="d-flex justify-start align-middle"><i class="fas fa-times mr-2"
                                                                                         style="color:red"></i>Aircard
                                            tickets
                                        </li>
                                    {% endif %}
                                    {% if block.ticketToTheWingsOfTatev %}
                                        <li class="d-flex justify-start align-middle"><i class="fas fa-times mr-2"
                                                                                         style="color:red"></i>Ticket
                                            to the Wings of Tatev
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="row men-block">
            <div class="col-lg-10 col-md-12 price-contact" style="background-color: #e0e0e0">
                <p class="travel-text"><b>Travel - movement in any territory or water area with the purpose of studying
                        them...</b></p>
                <div class="men row accordion" id="accordionExample">
                    <div class="col-md-4 col-sm-6 col-xl-2 card">
                        <div class="man card-header">
                            <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                 aria-controls="collapseOne">
                                <img src="{{ alias('@baseUrl') }}/images/icons/person1.png" alt="">
                            </div>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            <div class="price card card-body">
                                <p><span>price</span><b>{{ entry.price1 }}</b><span class="currency">AMD</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xl-2 card">
                        <div class="man card-header">
                            <div data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                                 aria-controls="collapseTwo">
                                <img src="{{ alias('@baseUrl') }}/images/icons/person2.png" alt="">
                            </div>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionExample">
                            <div class="price card card-body">
                                <p><span>price</span><b>{{ entry.price2 }}</b><span class="currency">AMD</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xl-2 card">
                        <div class="man card-header">
                            <div data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                                 aria-controls="collapseThree">
                                <img src="{{ alias('@baseUrl') }}/images/icons/person3.png" alt="">
                            </div>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-parent="#accordionExample">
                            <div class="price card card-body">
                                <p><span>price</span><b>{{ entry.price3 }}</b><span class="currency">AMD</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xl-2 card">
                        <div class="man card-header">
                            <div data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                                 aria-controls="collapseFour">
                                <img src="{{ alias('@baseUrl') }}/images/icons/person4.png" alt="">
                            </div>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                             data-parent="#accordionExample">
                            <div class="price card card-body">
                                <p><span>price</span><b>{{ entry.price4 }}</b><span class="currency">AMD</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xl-2 card">
                        <div class="man card-header">
                            <div data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
                                 aria-controls="collapseFive">
                                <img src="{{ alias('@baseUrl') }}/images/icons/person5.png" alt="">
                            </div>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                             data-parent="#accordionExample">
                            <div class="price card card-body">
                                <p><span>price</span><b>{{ entry.price5 }}</b><span class="currency">AMD</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xl-2 card">
                        <div class="man card-header">
                            <div data-toggle="collapse" data-target="#collapseSix" aria-expanded="true"
                                 aria-controls="collapseSix">
                                <img src="{{ alias('@baseUrl') }}/images/icons/person6.png" alt="">
                            </div>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                             data-parent="#accordionExample">
                            <div class="price card card-body">
                                <p><span>price</span><b>{{ entry.price6 }}</b><span class="currency">AMD</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 contact">
                <div>
                    <i class="far fa-envelope"></i>
                    <p>CONTACT US</p>
                </div>

            </div>
        </div>

        {% include '_includes/priceFilter.twig' %}

        <!--assigned categories-->
        {% set categories = craft.categories.relatedTo(entry) %}

        <div>
            <div class="tournames">
                <div class="row">
                    {% set relatedTour = craft.entries.section('tours').relatedTo(categories[0]).limit(4) %}
                    {% for tour in relatedTour %}
                        <div style="margin: 20px auto" class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="tourname">
                                {% for image in tour.backgroundImage %}
                                    <a href="{{ siteUrl }}tour/{{ tour.id }}"
                                       style="background-image: url('{{ image.url }}')">
                                        <span class="title">{{ tour.title }}</span>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

    <link rel="stylesheet" href="{{ alias('@baseUrl') }}/assets/css/tour.css">
    <link rel="stylesheet" href="{{ alias('@baseUrl') }}/assets/css/category.css">
    <script src="{{ alias('@baseUrl') }}/assets/js/tour.js"></script>

{% endblock %}