
.aboutus {
    background: url("../../images/aboutusback.gif") no-repeat;
    padding: 35px 0;
    background-size: cover;
}

.welcome_to {
    text-align: center;
    margin-top: 118px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
    font-size: 27px;
    width: 35%;
}

.welcome_to p , .about_sun p {
    color: orangered;
}

@media (max-width: 767px) {
    .welcome_to {
        width: 100%;
        background: transparent;
    }
}

.welcome_to p {
    font-size: 24px;
    font-weight: 500;
    font-family: myFirstFont;

}

@media (max-width: 992px) {
    .welcome_to p {
        font-size: 19px;
        font-weight: 500;
        text-align: left;
        padding-left: 15px;
    }
}

.about_armenia {
    color: orangered;
    width: 53%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.1));
}

.about_sun {
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .about_sun {
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
    }
}

@media (max-width: 767px) {
    .about_armenia {
        width: 100%;
        background: transparent;
    }
}

.about_sun p {
    padding-top: 9px;
    font-size: 36px;
    font-weight: 600;
    font-family: myFirstFont;

}

@media (max-width: 992px) {
    .about_sun p {
        font-size: 22px;
        font-weight: 500;
        padding-top: 14px;
    }
}

.story_about_armenia {
    margin-top: 60px;
    padding: 0 90px;
}

@media (max-width: 992px) {
    .story_about_armenia {
        margin-top: 60px;
        padding: 0 15px;
        text-align: center;
    }

    .about-slider {
        max-width: 100%;
        padding-right: unset;
        padding-left: unset;
        margin-right: unset;
        margin-left: unset;
    }

    .product-slider {
        padding: 0 !important;
    }

    .slide .carousel-control-prev {
        padding-top: unset;
    }

    .slide .carousel-control-next {
        padding-top: unset;
    }
}





.unset {
    width: 254px;
}

.staff {
    overflow: hidden;
    transition: width 0.2s;
    background-repeat: no-repeat;
    height: 690px;
    opacity: 0.3;


}

.expand{
    width :36%;
    opacity: 1;

}

.expand .card-text {
    display: block;
}

.card-text {
    display: none;
    font-size: 20px;
}

.card-text > p {
    cursor: default;
}

.card-body {
    margin-left: 236px;
    padding: unset !important;
}
.small{
    width: 17%;

}

.expand > div {
    transition-delay:  200ms;
    opacity: 1;

}

.employee-name {
    font-size: 45px;
    color: orangered;
}

.employee-position {
    font-size: 25px;
}



@media (min-width: 630px) and (max-width: 1460px) {
    .personal {
        display: grid !important;
    }

    .staff {
        width: 100%;
        background-size: 120px;
        background-position: 65px 0;
        height: 430px;
    }
}

@media (max-width: 629px) {
    .personal {
        display: grid !important;
    }

    .staff {
        background-position: center top;
        height: 300px;
        overflow: hidden;
        background-image: none !important;
    }

    .mobile-staff {
        width: 100%;
        height: 200px;
        background: no-repeat center top;
    }

    .expand {
        width: 100%;
        height: auto;
        transition: height 0.2s;
    }


    .card-body {
        margin-left: unset;
        text-align: center;
    }


    .small {
        width: 100%
    }

    .unset {
        width: 100%;
    }
}


.sliderImg {
    height: 550px !important;
}

.product-slider { padding: 45px; }

.product-slider #carousel { margin: 0; }

.product-slider #thumbcarousel { margin: 12px 0 0; }

.product-slider #thumbcarousel .carousel-item { text-align: center !important; }

.product-slider #thumbcarousel .carousel-item .thumb { width: 20% !important; display: inline-block !important; vertical-align: middle !important; cursor: pointer !important; max-width: 15% !important; }

.product-slider #thumbcarousel .carousel-item .thumb:hover { border-color: #1089c0 !important; }

.product-slider .carousel-item img { width: 100%; height: 100px; }

.carousel-control { color: #0284b8; text-align: center; text-shadow: none; font-size: 30px; width: 30px; height: 30px; line-height: 20px; top: 23%; }

.carousel-control:hover, .carousel-control:focus, .carousel-control:active { color: #333; }

.carousel-caption, .carousel-control .fa { font: normal normal normal 30px/26px FontAwesome; }
.carousel-control { background-color: rgba(0, 0, 0, 0); bottom: auto; font-size: 20px; left: 0; position: absolute; top: 30%; width: auto; }

.carousel-control.right, .carousel-control.left { background-color: rgba(0, 0, 0, 0); background-image: none; }

.carousel-control-prev-icon {
url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='' …3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e) !
}
.showing {
    border: 1px solid red;
}

.slide .carousel-control-prev {
    width: 2%;
    left: 12px;
}

.slide .carousel-control-next {
    width: 2%;
    right: 12px;
}