

.history_wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    height: 560px;
}
.table {
    width: 100px;
    height: 100px;
}

#select-region {
    text-align: center;
}

#select-region select {
    width: 300px;
    height: 50px;
}
@media (max-width: 767px) {
    .history_wrapper {
        height: 432px;
    }
}

.history_image {
    position: absolute;
    top: 150px;
    display: flex;
    margin-top: 224px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.6));
    font-size: 27px;
}

@media (max-width: 767px) {
    .history_image {
        position: relative;
        top: 80%;
        margin-top: 0;
        width: 100%;
        padding: 0;
        justify-content: center;
    }
}

.history_image p {
    font-size: 48px;
    font-weight: 500;
    font-family: myFirstFont;
    padding-top: 10px;
    color: orangered;
}

@media screen and (min-device-width: 992px) and (max-device-width: 1440px) {
    .history_image p {
        font-size: 30px;
        padding-top: 24px;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .history_image p {
        font-size: 20px;
        padding-top: 24px;
    }
}

@media (max-width: 767px) {
    .history_image p {
        font-size: 18px;
        padding-top: 24px;
    }
}

.history_image img {
    width: 90px;
    height: 90px;
    padding: 15px;
}

.national-pic {
    height: 45px;
    background-image: url("../../images/national.png");
    margin-top: 15px;
}

.title {
    color: grey;
}

.tourname1 {
    background: no-repeat center;
    background-size: contain;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    transition: 0.2s;

}

.tourname1:hover {
    width: 200px;
    height: 200px;
}

.xxx:hover {
    box-shadow: 1px 1px 5px 5px #808080
}
.xxx {
    border: 1px solid orangered;
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.lamp {
    display: none;
}

@media (max-width: 767px) {
    .lamp {
        display: block;
        text-align: center;
        margin-bottom: 75px;
    }
}



/*@media screen and (min-device-width: 768px) and (max-device-width: 1440px) {*/
    /*.tourname1 {*/
        /*width: 164px;*/
        /*height: 164px;*/
    /*}*/
/*}*/

@media (max-width: 576px) {
    .tourname1 {
        width: 120px;
        height: 120px;
    }

    .xxx {
        width: 140px;
        height: 140px;
    }
}

/*@media (max-width: 767px) {*/
    /*.tour_left {*/
        /*margin-top: 100px;*/
    /*}*/
/*}*/

@media (max-width: 767px) {
    .tournames_right{
        padding-top: 100px;
    }

}



.historical_places {
    display: flex;
    margin-top: 25px;
    background-size: contain;
    background: url("../../images/map.gif") no-repeat center;
}

.title-text-center {
    font-family: myFirstFont;
    text-align: center;
}

@media (max-width: 767px) {
    .historical_places {
        background-image: none;
    }
}



.sights-group:not(:first-child){
    display: block;
}

@media (max-width: 768px) {
    .copyright {
        display: block;
        text-align: center;
        padding-left: 0;
    }

}


