
.tours1 {
  height: max-content;
  display: flex;
}

.tours1 .left {
  background: url("../../images/map.png") no-repeat -157px -129px;
}

.tours1 .right {
  background: url("../../images/kompas.png") no-repeat right -340px top -130px;
  background-size: auto;
  width: 100%;
}

.tours1 > .right > div {
  width: 98%;
  padding-left: 60px;
  padding-top: 50px;
}

.tours1 > .right > div a {
  font-size: 21px;
}

.tours1 > .right > div h3 {
  font-family: myFirstFont;
  color: orangered;
}


.tours1 > .right > div > div > div p {
  font-size: 24px;
}


.tourname-big {
  border-radius: 50%;
  border: 2px solid #ff4500;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  margin-left: 330px;
  background-color: white;
}

.tourname-big > div {
  border-radius: 50%;
  width: 370px;
  height: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}


.pre {
  font-size: 23px;
  color: #864228;
  overflow: visible;
}

.tour-list {
  background: url("../../images/qartez.png") no-repeat;
  background-size: cover;
  height: max-content;
}

.tour-list > .line {
  display: flex;
}

.tour-list > .line > div {
  border-bottom: 2px solid #acacac;
  width: 46%;
  margin-bottom: 25px;
}

.tour-list > .line img {
  margin: 0 30px;
}

@font-face {
  font-family: myFirstFont;
  src: url("../fonts/Brushot-Bold.ttf");
}

.tourname a {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: 0.2s;
  background-size: cover;
  text-decoration: none !important;

}


.tourname a .title {
  color: white;
  font-size: 25px;
  z-index: 2;
  font-family: myFirstFont;
  text-align: center;
}

.tourname {
  border-radius: 50%;
  border: 2px solid #808080;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: white;
}

.tourname:hover {
  box-shadow: 1px 1px 5px 5px #808080;
  text-decoration: none;
}

.tourname a:hover {
  transform: scale(1.1);

}

@media (max-width: 1280px) {
  .tours1 {
    display: block;
  }

  .tourname-big {
margin: auto;
  }

}

@media (max-width: 768px) {
  .tourname-big {
    width: 315px;
    height: 315px;
  }

  .tourname-big > div {
    width: 280px;
    height: 280px;
  }

  .left {
    background-position: 0 -130px !important;
    padding: 50px 0;
  }

  .tournames > a {
    display: block;
  }

  .tournames > div {
    margin-bottom: 20px;
  }

  .tours1 > .right > div h3 {
    text-align: center;
  }

  .tours1 > .right > div a {
    display: none;
  }

  .right > div {
    padding: 4% !important;
    width: 100% !important;
  }

}



