.tripadvisor {
    background-color: white;
    border: 1px solid white;
    border-radius: 24px;
    width: fit-content;
    padding: 5px
}

.tripadvisor img {
    padding: 0px 10px;
}

.social {
    font-size: 18px;
    padding-left: 14px;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .social {
        font-size: 12px;
    }
}

.social  span {
    color: black;
    font-size: 14px;
    text-decoration: none !important;
}

.contacts_info .social  span {
    color: black;
    font-size: 14px;
    background-color: white;
    padding: 10px;
    border-radius: 40%
}


@media (max-width: 767px) {
    .contacts_info {
        display: none;
    }
}


@media (min-width: 768px) {
    .content {
        padding: 0 36px;
    }
}

.content {
    padding-top: 20px;
    background: url("../../images/travel-around.gif") no-repeat;
    background-size: contain;
}
@media (max-width: 767px) {
    .content {
        padding-top: 247px;
        background-size: 500px;
        background: url("../../images/travel-around1.gif") no-repeat top center;
        background-size: contain;
    }
}


.send_button {
    margin: 20px 0;
    background-color: orangered;
    border: none;
    border-radius: 0;
}

.earth {
    background: url("../../images/travel-around.gif") no-repeat;
    background-size: contain;
    height: 600px;
    width: 500px;
}

.footer h4 {
    margin-top: 31px;
}

.contacts {
    background: linear-gradient(rgba(61, 46, 40, 0.9), rgba(61, 46, 40, 0.9)), url("../../images/background-wallpapers.png") no-repeat;
    background-size: cover;
    min-height: 357px;
}

.contacts span {
    color: white;
}

@media screen and (min-device-width: 768px) and (max-device-width: 992px) {
    .social span {
        font-size: 10px;
    }
}

.contact_mail {
    padding-left: 13%;
}


