.questions {
    background: url("../../images/sunset.png") no-repeat;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 150px;
}

.question {
    border: 1px solid #ff4500;
    border-radius: 60px;
    background-color: #f0f0f0;
    align-items: center;
    justify-content: center;
    padding: 45px;
    margin: 70px auto 0 auto;
    width: 70%;
}
.question .img-text {
    display: flex;
    align-items: center;
}
.question .img {
    text-align: center;
    padding: 0 20px;
}
.question .text {
    padding: 0 20px;
}

@media (max-width: 475px) {
    .question .img{
        padding: unset;
    }
}

.popover-header {
    text-align: right;
    margin: 0 auto;
    background: white;
    border: none;
    border-radius: 47px;
    width: 95%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center; }

.popover-body {
    padding: 39px;
    padding-top: 0; }

.fade {
    opacity: 1;
    border-radius: 38px;
    max-width: 550px; }

.button {
    float: right;
    background-image: linear-gradient(to top, #e58c6b, #ed7e56, #f37040, #f95f2a, #fd4c0a);
    padding: 3px 56px;
    border-radius: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center; }

@media (max-width: 768px) {
    .copyright {
        display: block;
        text-align: center; }

    .footer_logo {
        text-align: center; } }
@media (max-width: 579px) {
    .img img {
        width: 40px; }

    .text {
        padding: unset; }

    .footer_logo img {
        width: 200px; } }
@media (max-width: 1141px) {
    .nav-item {
        margin: 12px;
        margin-bottom: unset; } }
@media (max-width: 991px) {
    .dropdown {
        display: flex;
        margin: unset;
        margin-left: auto; }

    .question {
        padding: 10px 20px;
        width: 98%;
        border-radius: 80px; }

    .questions {
        padding: 15px; }

    .button {
        margin: 0 auto;
        display: block;
        width: min-content;
        float: none; }

    .button:hover {
        color: white;
        text-decoration: none; }

    .soc-lang {
        margin-bottom: auto; } }

/*# sourceMappingURL=main.css.map */
