.iframe {
    width: 100%;
    height: 80vh;

}

.frame-content {
    margin: auto 10%;
}

@font-face {
    font-family: myFirstFont;
    src: url('../fonts/Brushot-Bold.ttf') format("TrueType");
}

 h2 {
    font-family: myFirstFont;
    color: orangered;
    text-align: center;
     margin: 0;
     background: white;
}

@media (max-width: 575px) {
#md-dialog {
margin: 0;
}
    .frame-content {
        margin: 0;
    }

.iframe {
height: 400px;
}


}


