
 .slide-arrow-left {
    position: absolute;
    /*left: 46%;*/
}

@media (min-width: 768px) {
     .slide-arrow-left, .slide-arrow-right {
        position: absolute;
        width: 56px;
        top: unset;
        bottom: -40px;
        height: 40px;
    }

     .slide-arrow-left {
        right: 168px !important;
        background: black;
        left: unset;
    }


     .slide-arrow-right {
        background: white;
        right: 112px;
    }

     .slide-arrow-right-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e")
    }
}

.navbar {
    padding: 10px;
    position: fixed;
    z-index: 999;
    width: 100%;
    background: white;
    transition: 0.3s;

}

.navbar1 {
    -webkit-box-shadow: 0 -2px 10px 1px #000000b8;
    -moz-box-shadow: 0 -2px 10px 1px #000000b8;
    box-shadow: 0 -2px 10px 1px #000000b8;
    transition: 0.3s;
    padding: 5px 5px 0px 5px !important;
}


.slide-img {
    width: 60%;
    float: left;
}

.title-text {
    float: left;
    width: 40%;
    padding-top: 100px;
    padding-left: 85px;
}

.title-text p {
    font-size: 20px;
    color: white;
}

.title-text h2 {
    color: white;
}

.links li {
    padding-left: 20px;
}

.links li a:hover {
    text-decoration: none;
}

.links a {
    color: grey;
}


.soc-lang {
    justify-content: flex-end;
    display: flex;
}


.links ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}



@media (max-width: 767px) {
    .besttours {
        background-image: none !important;
        padding: unset !important;
    }

    .slide-img {
        width: 100%;
        float: unset;
    }

    .title-text {
        float: unset;
        width: 100%;
        padding-top: unset;
        padding-left: unset;
        text-align: center;
    }

    .carousel-control-prev, .carousel-control-next {
        padding-top: 75px;
    }

    .carousel-item img {
        height: 500px;
    }

    .slider_heading h4 {
        color: orangered !important;
    }

    .title-text p {
        font-size: 20px;
        color: black;
    }

    .title-text h2 {
        color: black;
    }
}







/*@media (max-width: 767px) {*/
    /*.soc-lang {*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*padding: 0 12px;*/

    /*}*/
/*}*/


.header {
    padding: 2% 5%;
    margin-bottom: 30px;
}

.header-logo {
    position: absolute;
    top: 2%;
    left: 5%;
    z-index: 1;
}

.navbar-brand {
    margin-right: unset;
}

.navbar-brand img {
width: 120px
}


.navbar-collapse {
    background-color: white;
    opacity: 0.9;
    padding-top: 10px;
}



.round .navbar-toggler-icon{
    background-image:  url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(51,114,119, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.first_slider {
    height: 500px;
    width: 100%;
}

.social-icons a {
    padding-right: 10px;
}

.social {
    font-size: 12px;
}


.round {
    margin-left: auto;
    background-color: white;
    color: #337277;
    padding: 0;
}

.round:focus {
    outline: none;
}



.selectshow {
    display: none;
}



@media (max-width: 991px) {
    .navbar-collapse {
        position: absolute;
        right: 0;
    }


}


@media (max-width: 991px) {
    .selectshow {
        display: flex;
        justify-content: flex-end;
    }

    .nav-container {
        display: flex;
    }

    /*.logo {*/
        /*top: 50px;*/
        /*text-align: center;*/
        /*width: 100%;*/
    /*}*/

    /*.nav-right{*/
        /*order: 1;*/
    /*width: 100%*/
    /*}*/



    .navbar {
        margin-bottom: 110px;
    }


}

.bottomfooter p {
    text-align: center;
}

.bottomfooter > div {
    display: flex;
    justify-content: center;
}


.links a:hover {
    color: #779a9d !important;
}

.navlinks a{
    text-decoration: none;
    padding-left: 42px;
    line-height: 1.2;
    color: rgb(50, 112, 117);
    font-family: monospace;
    font-weight: bold;
}

@media (max-width: 768px) {
    .social-icons {
        text-align: left;
        font-size: 14px;
    }
}

.languages a {
    text-decoration: none;
    color: #9d9999;
    padding-left: 10px;
    font-size: 10px;
}
@media (max-width: 991px) {
    .languages {
        display: none;
    }
}

select {
    border: none;
    background: none;
    color: orangered;
    margin-right: 5px;
}

.circles {
    text-align: left;
    margin-top: -55px;
    margin-left: 15px;
}


@media (max-width: 768px) {
.numbertext img {
     height: 300px;
    }
}


.araratcontent {
    position: absolute;
    top: 330px;
}

.welcome {
    display: flex;
    z-index: 2;
    position: relative;
}

.orange {
    color: white;
    background: orangered linear-gradient(to right, #ff4500, #82432b);
    font-family: myFirstFont;
    font-size: 24px;
    text-align: right;
    padding: 10px 10px 10px 30px;
}

.white {
    color: orangered;
    background-color: white;
    font-family: myFirstFont;
    font-size: 25px;
    padding: 10px;
}

@media (max-width: 424px) {
    .white, .orange {
    font-size: 18px;
    }
}


@font-face {
    font-family: myFirstFont;
    src: url('../fonts/Brushot-Bold.ttf')format("TrueType");
}

.abouttravel {
    background-color: rgb(255, 255, 255);
    opacity: 0.6;
    height: 141px;
    display: flex;
    align-items: center;
    margin-top: -36px;
    z-index: 1;
    width: 444px;
}

@media (max-width: 767px) {
    .abouttravel {
        background-color: rgb(255, 255, 255);
        height: auto;
        display: flex;
        align-items: center;
        margin-top: 0;
        z-index: 1;
        width: 100%;
    }

    .bottomfooter {
        flex-wrap: wrap-reverse;
        justify-content: center !important;
    }

    .footer_logo img {
        width: 80%;
    }
}

.abouttravel span {
    text-align: center;
    padding-top: 31px;
    padding: 10px;
}

.ararat {
    background-image: url("../../images/ara.png");
    max-width: 394px;
    margin-bottom: 4px;
    height: 34px;
}

@media (max-width: 768px) {
    .ararat {
        display: none;
    }

    .araratcontent {
        position: static;
    }

    .orange {
        width: 50%;
    }
}

.slider-circle {
    text-align: left;
    position: absolute;
    top: 678px;
    left: 50px;
}

.national-pic {
    height: 45px;
    background-image: url("../../images/national.png");
    margin-top: 57px;
}

.findtour {
    text-align: center;
    font-family: "ProximaNova";
    color: rgb(50, 112, 117);
    margin-top: 30px;
    font-size: 2rem;
}

.tourcounter {
    font-family: "ProximaNova";
    color: rgb(50, 112, 117);
    line-height: 1.2;
    border: 3px solid #979797;
    border-radius: 44px;
    height: 84px;
    margin: 0px auto;
    display: flex;
    width: 70%;
    background: linear-gradient(#ffffff, #e1e1e1);
    justify-content: space-around;
}

@media (max-width: 1024px) {
    .tourcounter {
        width: 92%;
    }
}

@media (max-width: 767px) {
.tourcounter {
    border: none;
    display: contents;
    background: none;
    }
}

.inp{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textorange {
    color: orangered;
    position: absolute;
    right: 0;
}

.inpcounter {
    border: none;
    font-size: 22px;
}

.input-group p {
    margin-top: 6px;
}

.fa-search {
    color: orangered;
    font-size: 32px;
    cursor: pointer;
}

.search-icon label {
    width: 100%;
    text-align: center;
}

@media (max-width: 768px) {
    .fa-search {
margin-top: 25px;
    }
}

.rule {
    border-top: 1px solid gray;
    width: 100%;
    margin: 14px 20px;
}

.camp_picture {
    display: flex;
    margin-top: 88px;
}

@media (min-width: 768px) {
    .hottours {
        padding: 0 20px;
    }
}

.imagecontainer {
    position: relative;
    top: -21px;
}

.tours {
    width: 100%;
    height: 280px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    border: 1px solid white;
    transition: all 0.5s ease;
    background-repeat: no-repeat;
    background-size: cover;
}

.tours:hover {
    transform: scale(1.2);

}

.tours > div > a {
    text-decoration: none;
}

.borders {
    border: 1px solid #f94d07;
    padding: 2px;
    z-index: 99;
    overflow: hidden;
}

.trekking {
    background-image: url("../../images/orig1.png");
}

.classical {
    background-image: url("../../images/tatev.png");
}

.adventure {
    background-image: url("../../images/photo-1526772662000-3f88f10405ff.png");
}

.hinking {
    height: 48px;
    width: 78%;
    padding: 0 10px;
    background: white;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 100px;
}

.hinking a {
    color: black;
    text-decoration: none;
}

.fa-angle-right {
    color: orangered;
    font-size: 32px;
}

.icons {
    border: 1px solid gray;
    border-radius: 50px;
    height: 40px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    background-position: center;
    margin-top: 20px;
}

.hiking {
    background-image: url("../../images/climber.png");
}

.climbing {
    background-image: url("../../images/kkk.png");
}

.museums {
    background-image: url("../../images/garnismall.png");
}

.hotel {
    background-image:url("../../images/images8.png");
}

.cook{ background-image: url("../../images/129226.png");
}

.mount {
    height: 40px;
    background: url("../../images/orangeararat.png") no-repeat right;
    background-size: contain;
}

.besttours {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 18px;
    padding: 40px 15px;
}

@media (max-width: 767px) {
    .besttours {
        background-image: none;
        }
}

@media (max-width: 767px) {
    .slider_heading h4 {
        color: black;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .slider_heading {
        color: white;
        text-align: right;
        padding-right: 93px;
        margin-bottom: 35px;
    }
}

.small_slider img {
    max-height: 350px;
}

.carousel-item {
    position: relative;
}
.carousel-item img {
    object-fit: cover;
    width: 100%;
}

@media(min-width: 767px) {
    .tour-name {
        color: white;
    }
}

@media(min-width: 768px) {
    .tour-name {
        padding: 150px 0 0 93px;
    }
}

.national-pic2 {
    height: 43px;
    background-image: url("../../images/national.png");
    margin-top: 25px;
}

@media(max-width: 767px) {
    .national-pic2 {
        margin-top: 15px;
    }
}

.services {
    display: flex;
    margin-top: 25px;
}

.services h5 {
    color: #327075;
    padding: 2px 0;
}

.serviceicons {
    min-height: 338px;
    background-color: lightgrey;
    justify-content: space-around;
    margin-top: 25px;
    padding: 27px 0;
}


@media(max-width: 767px) {
    .serviceicons {
        position: relative;
        min-height: 620px;
    }

    .climber {
        position: absolute;
        left: 6%
    }

    .garni {
        position: absolute;
        top: 14%;
        left: 38%
    }

    .masis {
        position: absolute;
        top: 26%;
        right: 6%;
    }

    .camp {
        position: absolute;
        top: 41%;
        left: 38%;
    }

    .master {
        position: absolute;
        top: 54%;
        left: 6%;
    }

    .cooks {
        position: absolute;
        top: 67%;
        left: 38%;
    }

    .hostels {
        position: absolute;
        top: 80%;
        right: 6%;
    }
}


.garni {
    background-image: url("../../images/garni.png") !important;
}

.camp {
    background-image: url("../../images/camps.png") !important;
}

.cooks {
    background-image: url("../../images/cook.png") !important;
}

.foots, .upicons {
    display: flex;
    justify-content: inherit;
}

@media (max-width: 767px) {
    .foots {
        display: none;
    }
}

.form-control {
    border-radius: 0
}

.downicons {
    padding: 0 57px;
    display: flex;
    justify-content: space-evenly;
}

.icons_big {
    border: 2px solid gray;
    border-radius: 50%;
    display: inline-block;
    background: white no-repeat center;
}

.icons_big p {
    line-height: 1;
    width: 80px;
    margin: auto;
    color: gray;
}

.icons_big h1 {
    color: grey;
    height: 37px;
}

@media (max-width: 768px) {
    .icons_big {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 769px) {
    .icons_big {
        width: 120px;
        height: 120px;
    }
}

.climber {
    background-image: url("../../images/climber720.png");
}

.masis {
    background-image: url("../../images/ararat.png");
}

.master {
    text-align: center;
    vertical-align: top;
}

/*.master h3, p {*/
    /*color: gray;*/
/*}*/

.hostels {
    background-image: url("../../images/bed.png");
}

.noravanq {
    background: url("../../images/geghard.png") no-repeat center;
    background-size: cover;
}


.review {
    border: 1px solid grey;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
    padding: unset;
}

.review > div {
    display: flex;
    padding: 10px;
}

.stories {
    padding: 15px;
}

.stories p {
    font-size: 18px;
    text-align: right;
    margin: 15px;
}

.contacts {
    background: linear-gradient(rgba(61, 46, 40, 0.9), rgba(61, 46, 40, 0.9)), url("../../images/background-wallpapers.png") no-repeat;
    background-size: cover;
    min-height: 357px;
}

.contact_mail {
    padding-left: 13%;
}

.contacts span {
    color: white;
}

.social span {
    font-size: 15px;
}

@media screen and (max-device-width: 991px) {

    .burger-menu {
        z-index: 5;
        display: grid;
        text-align: right;
    }
}

.contacts p {
    font-size: 26px;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .contacts p {
        font-size: 18px;
        margin-top: 30px;
    }

    .partners p:first-child {
        font-size: 18px;
        margin-top: 30px;
    }

    .footer_logo {
        text-align: center;
    }

    .copyright {
        display: block;
        text-align: center;
        padding-left: 0;
    }
}


.partners {
    background-image: -moz-linear-gradient(-90deg, rgb(128, 118, 119) 0%, rgb(183, 95, 61) 100%);
    background-image: -webkit-linear-gradient(-90deg, rgb(128, 118, 119) 0%, rgb(183, 95, 61) 100%);
    background-image: -ms-linear-gradient(-90deg, rgb(128, 118, 119) 0%, rgb(183, 95, 61) 100%);
}

.partners p:first-child {
    font-size: 26px;
    margin-top: 30px;
}


.partners1 {
    margin-top: 20px;
}

.partner {
    background-color: white;
    border-radius: 10px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1200px) {
    .partner {
        height: 60px;
    }
}

.unesco {
    background: url("../../images/1.png") no-repeat;
    background-size: cover;
}

.un {
    border: 2px solid white;
    margin: 15px 0px;
}

h1 {
    margin-top: 8px;
}

.heritage {
    padding: 70px 0;
}

.footer h4 {
    margin-top: 31px;
}

.whiterule {
    border-bottom: 1px solid white;
    margin: 0 auto;
    width: 73%;
}

.unesco_picture {
    padding: 17px;
}

.copyright {
    display: flex;
    align-items: center;
}

.fa-copyright {
    padding: 4px 5px;
}

.bottomfooter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.carousel-indicators {
    margin-left: 3%;
    right: auto;
}

.author {
    font-style: italic;
}

.user-ava {
    width: 85px;
    height: 85px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid;
}

.review > div > p {
    margin: unset;
    padding: 15px;
    line-height: 1.3;
    text-align: left;
    height: 130px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.stories hr {
    margin: 10px auto;
    width: 80%;
    border-top: 1px solid rgba(0, 0, 0, .3);
}

.story-block {
    display: flex;
    padding: 10px;
}

.lSGallery li img {
    width: 100% !important;
}

.partners1 a {
    text-decoration: none;
}


.serviceicons > img {
    position: absolute;
    display: none;
}

@media screen and (min-device-width: 375px) and (max-device-width: 425px) {
    .serviceicons > img {
        display: block;
    }
    .serviceicons > img:nth-of-type(1) {
        top: 17%;
        left: 27%;
    }

    .serviceicons > img:nth-of-type(2) {
        top: 27%;
        left: 64%;

    }

    .serviceicons > img:nth-of-type(5) {
        top: 40%;
        left: 64%;

    }

    .serviceicons > img:nth-of-type(6) {
        top: 54%;
        left: 27%;

    }

    .serviceicons > img:nth-of-type(3) {
        top: 68%;
        left: 27%;

    }

    .serviceicons > img:nth-of-type(4) {
        top: 80%;
        left: 64%;

    }

    .climber {
        left: 1%;
    }

    .masis {
        right: 1%;
    }

    .master {
        left: 1%;
    }

    .hostels {
        right: 1%;
    }
}




