@font-face {
    font-family: myFirstFont;
    src: url("../fonts/Brushot-Bold.ttf");
}

.description {
    display: flex;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.notebook {
    width: 100%;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.all-content {
    width: 100%;
    background: white;
}

.content-header {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.heading {
    font-size: 33px;
    font-family: myFirstFont;
    color: orangered;
}

.content-body {
    font-size: 20px;
    padding-left: 10px;
}


.line {
    background: url("../../images/line.png") no-repeat;
    height: 44px;
    background-position: right;
}

.tourists {
    padding: 25px 20px 0 20px;
    margin: unset;
    background: url("../../images/turism.png") no-repeat right bottom;
    background-size: 64%;
    display: flex;
}

.tourlist {
    padding-bottom: 300px;
    background: url("../../images/bag.png") no-repeat left bottom;
    background-size: 30%;
    width: 100%;
}

.big-round {
    width: 230px;
    height: 230px;
    border: solid #f24941 1px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-round:hover {
    box-shadow: 1px 1px 5px 5px #808080;
}

.big-round a {
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.2s;
}

.big-round a:hover {
    width: 230px;
    height: 230px;
}

.small-round {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.price {
    width: 180px;
    height: 180px;
    border: solid #f24941;
    border-radius: 50%;
    margin: 0 auto;
    background: url("../../images/cash.png") no-repeat 50px 35px;
    background-size: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.price:link {
    text-decoration: none;
}

.article {
    display: flex;
    justify-content: center;
    font-size: 30px;
    align-items: center;
    font-family: myFirstFont;
    text-decoration: none !important;
    color: orangered;
}

.price-list {
    margin-bottom: 20px;
    font-size: 25px;
    font-family: myFirstFont;
    color: orangered;
}

.tour-rounds {
    display: flex;
}

.tour-rounds:nth-of-type(2) {
    margin-top: 50px;
}


@media (max-width: 991px) {
    .price {
        position: absolute;
        right: 5%;
    }

    .tourlist {
        margin-top: 200px;
    }

    .tour-rounds.middle {
        margin-top: unset;
    }

    .tour-rounds:nth-of-type(2) {
        justify-content: flex-end;
    }

    .tourlist {
        background-position: 0 36%;
    }

    .tourists {
        background-size: 130%;
    }
}

@media (max-width: 768px) {
    .description {
        display: block;
        background-size: contain;
        background-position: right top;
    }

    .all-content {
        background: unset;
        padding-top: 66%;
    }

}

@media (max-width: 491px) {
    .big-round {
        width: 180px;
        height: 180px;
    }

    .big-round a:hover {
        width: 200px;
        height: 200px;
    }

    .small-round {
        width: 160px;
        height: 160px;
    }

    .big-round a:hover {
        width: 180px;
        height: 180px;
    }

    .tour-rounds:nth-of-type(2) .big-round {
        margin: unset;
        margin-left: auto !important;
    }
}
