.hiking {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon {
    border-radius: 50%;
    border: 1px solid grey;
    margin: 15px 0 15px 15px;
    width: 40px;
    height: 40px;
    display: inline-block;
    float: right;
    background: no-repeat center;
}

.kompas {
    padding: 15px;

}

.kompas div {
    font-size: 20px;
}

.kompas i {
    color: orangered;
}


.tripadvisor-big {
    height: 100%;
    text-align: center;
}

.tripadvisor-big img {
    width: 100%;
}

.uzor{
    background-image: url("../../images/uzor.png");
    height: 45px;
}

.content {
    margin-bottom: 30px;
}


.findtour {
    text-align: center;
    font-family: "ProximaNova";
    color: rgb(50, 112, 117);
    margin-top: 30px;
    font-size: 2rem;
}


.inp{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}


.textorange {
    color: orangered;
    position: absolute;
    right: 0;
}

.inpcounter {
    border: none;
    font-size: 22px;
}

.input-group p {
    margin-top: 6px;
}

.fa-search {
    color: orangered;
    font-size: 32px;
    cursor: pointer;
}



.rule {
    border-top: 1px solid gray;
    width: 100%;
    margin: 14px 20px;
}



.days:after {
    content: "";
    display: inline-block;
    width: 100%;
}

@font-face {
    font-family: myFirstFont;
    src: url("../fonts/Brushot-Bold.ttf");
}

.day {
    border-radius: 50%;
    border: 2px solid #808080;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    margin: 20px auto;
}

.title {
    font-family: myFirstFont;
    font-size: 25px;
    color: #808080;
}

/*.days > div {*/
    /*margin: 30px 0;*/
/*}*/

/*.day:hover, .day:focus {*/
    /*text-decoration: none;*/
    /*border-color: #337277;*/
    /*color: #337277;*/
    /*cursor: pointer;*/
/*}*/

.days a {
    border: unset;
    text-decoration: none;
    outline: none;
    border: none;
}

.day .title:hover, .day .title:focus {
    text-decoration: none;
    border-color: #337277;
    color: #337277;
    cursor: pointer;
}

.day:hover, .day:focus {
    text-decoration: none;
    border-color: #337277;
    color: #337277;
    cursor: pointer;
}


.popover {
    max-width: 375px;
    margin: 0 20px;
    z-index: 888;
}

.left li {
    padding-top: 20px;
}

.left div {
    border-top: solid 2px green;
}

.left p {
    color: green;
}

.right li {
    padding-top: 20px;
}

.right div {
    border-top: solid 2px red;
}

.right p {
    color: red;
}

.right li {
    padding-top: 20px;
}

.list {
    margin-top: 30px;
}

.travel-text {
    font-size: 20px;
    text-align: center;
    margin-bottom: unset;
}


.man {
    position: relative;
    text-align: center;
}

.men-block {
    margin-left: unset;
    margin-right: unset;
}


.card {
    background-color: #e0e0e0;
    border: none;
    border-radius: unset;
    padding: unset;
}

.man img {
    cursor: pointer;
}

.card img {
    height: 30px;
}

.card-header {
    margin: 0;
    padding: 5px;
    border: unset;
    background: none;
}

.card-body {
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    z-index: 5;
}

.contact {
    text-align: center;
    font-size: 20px;
    margin: auto;
}

.contact i {
    color: #ff4500;
    font-size: 60px;
}

.man .info {
    position: relative;
}

.price {
    cursor: pointer;
}

.price p {
    margin: unset;
}

.price b {
    color: #ff4500;
    font-size: 20px;
    margin: 0 10px;
}

.price-content {
    padding: unset;
}

.man .info > div span {
    color: #ff4500;
    font-size: 15px !important;
}

/*#image-gallery li img{*/
    /*height: 500px !important;*/
/*}*/


@media (max-width: 991px) {
    .contact {
        display: flex;
        justify-content: center;
    }

    .contact div {
        display: flex;
        align-items: center;
    }

    .contact p {
        font-size: xx-large;
        margin: 20px;
    }

}

@media (max-width: 576px) {
    .man {
        text-align: left;
    }

    .card-header {
        padding: 5px;
    }

    .card {
        position: relative;
    }

    .price p {
        position: absolute;
        bottom: 6px;
        left: 170px;
    }

    .card > .collapsing {
        transition: height unset ease !important;
    }

}





